<section class="nav">
    <section class="pap">
        {% if include.nav-num %}
        {% assign pap-cont = "Recent" %}
        {% else %}
        {% assign pap-cont = "Navigation" %}
        {% endif %}
        <h1>{{pap-cont}}:</h1>
    </section>
    {% assign last-nav-ind = include.nav-num | default: site.posts.size %}
    {% assign postslist = site.posts | slice: 0, last-nav-ind %}
    {% for post in postslist %}
        <section class="pap">
            <section class="nav-img" style="background-image: url('{{ site.baseurl }}{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
            </section>
            <section class="nav-content">
                <section class="nav-abs">
                    <a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}</a>
                <p>
                    {{ post.date | date: "%a, %b %d, %y" }} {{ post.author }}
                </p>
                </section>
            </section>
            <div class="clear"></div>
        </section>
    {% endfor %}
</section>